In [1]:
# Libraries
import os
import shutil
import json
import numpy as np
import pandas as pd
from tabulate import tabulate

# API credentials for Kaggle
with open('/Users/lara/Documents/kaggle.json') as f:
    data = json.load(f)

os.environ['KAGGLE_USERNAME'] = data['username']
os.environ['KAGGLE_KEY'] = data['key']

from kaggle.api.kaggle_api_extended import KaggleApi

# Set up Kaggle API on GitHub Codespaces
# source_file = os.path.join(os.getcwd(), 'kaggle.json')
# destination_dir = os.path.join(os.getcwd(), '/home/vscode/.kaggle')
# shutil.copy(source_file, destination_dir)
# file_path = '/home/vscode/.kaggle/kaggle.json'
# os.chmod(file_path, 0o600)

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

# Initialize API
api = KaggleApi()
api.authenticate()

# Download file
api.dataset_download_file('vittoriogiatti/bigmacprice','BigmacPrice.csv')

# Read data to pandas data frame
df = pd.read_csv('BigmacPrice.csv', sep=',')
df

/Users/lara/Documents/Lara's scientific programming/scientific_programming/Week_02/exercises/my solutions

,date,currency_code,name,local_price,dollar_ex,dollar_price
0,2000-04-01,ARS,Argentina,2.50,1,2.50
1,2000-04-01,AUD,Australia,2.59,1,2.59
2,2000-04-01,BRL,Brazil,2.95,1,2.95
3,2000-04-01,GBP,Britain,1.90,1,1.90
4,2000-04-01,CAD,Canada,2.85,1,2.85
...,...,...,...,...,...,...
1941,2022-07-01,AED,United Arab Emirates,18.00,3,6.00
1942,2022-07-01,USD,United States,5.15,1,5.15
1943,2022-07-01,UYU,Uruguay,255.00,41,6.22
1944,2022-07-01,VES,Venezuela,10.00,5,2.00
1945,2022-07-01,VND,Vietnam,69000.00,23417,2.95

In [2]:
def get_local_price(df, date, country):
    df_filtered = df.loc[(df['date'] == date) & (df['name'] == country)]
    return df_filtered['local_price'].values[0]

def calculate_price_increase(local_price_2002, local_price_2022):
    return local_price_2022 - local_price_2002

# Get local prices for Switzerland in 2002 and 2022
local_price_2002_CH = get_local_price(df, '2002-04-01', 'Switzerland')
local_price_2022_CH = get_local_price(df, '2022-07-01', 'Switzerland')

# Get local prices for the United States in 2002 and 2022
local_price_2002_USA = get_local_price(df, '2002-04-01', 'United States')
local_price_2022_USA = get_local_price(df, '2022-07-01', 'United States')

# Output local prices for Switzerland and the United States
print("Local price in 2002 (Switzerland):", local_price_2002_CH)
print("Local price in 2022 (Switzerland):", local_price_2022_CH)
print("Local price in 2002 (United States):", local_price_2002_USA)
print("Local price in 2022 (United States):", local_price_2022_USA)

# Calculate the price increase for Switzerland and the United States
price_increase_CH = calculate_price_increase(local_price_2002_CH, local_price_2022_CH)
price_increase_USA = calculate_price_increase(local_price_2002_USA, local_price_2022_USA)

# Output price increases for Switzerland and the United States
print("Price increase in Switzerland:", price_increase_CH, "CHF")
print("Price increase in United States:", price_increase_USA, "USD")

Local price in 2002 (Switzerland): 6.3
Local price in 2022 (Switzerland): 6.5
Local price in 2002 (United States): 2.35
Local price in 2022 (United States): 5.15
Price increase in Switzerland: 0.20000000000000018 CHF
Price increase in United States: 2.8000000000000003 USD